# Node.js specific

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variable files
.env

# Build output
dist/
build/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# IDE specific

# JetBrains IDEs
.idea/

# VS Code
.vscode/

# Sublime Text
*.sublime-project
*.sublime-workspace

# MacOS specific
.DS_Store

# Other
*.tgz
*.tar.gz
*.log
coverage/
